[submodule "SSHCore"]
	path = SSHCore
	url = https://github.com/manast/SSHCore.git
[submodule "NoodleKit"]
	path = NoodleKit
	url = http://github.com/MrNoodle/NoodleKit.git
[submodule "gh-unit"]
	path = gh-unit
	url = http://github.com/gabriel/gh-unit.git
[submodule "PXSourceList"]
	path = PXSourceList
	url = https://github.com/Perspx/PXSourceList.git
[submodule "Sparkle"]
	path = Sparkle
	url = https://github.com/andymatuschak/Sparkle.git
